

@model NursesViewModelClass

@{
    ViewData["Title"] = "Index";
}

<h2> Nurse List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            @using (Html.BeginForm())
             
                <th>
                    Name
                    @*@Html.DisplayNameFor(model => model.Name)*@
                </th>
            <th>
                Email
                @*@Html.DisplayNameFor(model => model.Email)*@
            </th>
            <th>
                Specialties
                @*@Html.DisplayNameFor(model => model.Specialties)*@
            </th>
            <th>
                Type
                @*@Html.DisplayNameFor(model => model.Type)*@
            </th>
            <th>
                CellPhoneNumber
                @*@Html.DisplayNameFor(model => model.CellPhoneNumber)*@
            </th>
            <th>
                CCBI
                @*@Html.DisplayNameFor(model => model.CCBI)*@
            </th>
            <th>
                BirthDate
                @*@Html.DisplayNameFor(model => model.BirthDate)*@
            </th>
            <th>
                YoungestChildBirthDate
                @*@Html.DisplayNameFor(model => model.YoungestChildBirthDate)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Nurses)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCBI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YoungestChildBirthDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NurseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NurseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NurseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div page-model="@Model.PagingInfo"></div>