@model IEnumerable<HospitalSchedule.Models.Shift_Schedule_OperationBlock>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShiftDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationBlock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.ScheduleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationBlock.BlockName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Shift_Schedule_OperationBlockId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Shift_Schedule_OperationBlockId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Shift_Schedule_OperationBlockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
