@page
@model LoginModel

@{ViewData["Title"] = "Register"; }
<main id="main">
    <div class="row">
        <div class="col-md-4">
            <div id="intro">
                <div class="intro-content" style="height:100%;color:white;">
                    <center><h2 style="color:white">@ViewData["Title"]</h2></center>
                    <form method="post">
                        <h4>Create a new account</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <center>
                                <table>
                                    <tbody>
                                        <tr rowspan="2">
                                            <td colspan="2">
                                                <label asp-for="Input.Email"></label>
                                            </td>
                                            <td colspan="1" style="max-width:150px;">
                                                <input asp-for="Input.Email" size="22" class="form-control" placeholder="Email" />
                                            </td>
                                            <td colspan="3">
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </td>
                                        </tr>
                                        <tr rowspan="2">
                                            <td colspan="2">
                                                <label asp-for="Input.Password"></label>
                                            </td>
                                            <td colspan="1" style="max-width:150px;">
                                                <input asp-for="Input.Password" size="23" class="form-control" placeholder="Insert Password" />
                                            </td>
                                            <td colspan="3">
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </td>
                                        </tr>
                                        <tr rowspan="2">
                                            <td colspan="2">
                                                <label asp-for="Input.Password"></label>
                                            </td>
                                            <td colspan="1" " style="max-width:150px;">
                                                <input asp-for="Input.Password" size="22" class="form-control" placeholder="Confirm Password" />
                                            </td>
                                            <td colspan="3">
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </center>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Register</button>
                            </div>
                            <br />
                            <div class="form-group">
                                <a asp-page="./ForgotPassword">Forgot your password?</a>
                                <br />
                                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign into your account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @*<div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@
    </div>
</main>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
