@model HospitalSchedule.Models.Shift_Schedule

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shift_Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShiftDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schedule.NurseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift.ShiftId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Shift_ScheduleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
