@model HospitalSchedule.Models.Rules

@{
    ViewData["Title"] = "Rules Details";
}

<h2>Rules Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Weekly Hours
            @*@Html.DisplayNameFor(model => model.WeeklyHours)*@
        </dt>
        <dd>

            @Html.DisplayFor(model => model.WeeklyHours)
        </dd>
        <dt>
            Nurse's Age
            @*@Html.DisplayNameFor(model => model.NurseAge)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NurseAge)
        </dd>
        <dt>
            Nurse's Child's Age
            @*@Html.DisplayNameFor(model => model.ChildAge)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildAge)
        </dd>
        <dt>
            Time Between Shifts
            @*@Html.DisplayNameFor(model => model.InBetweenShiftTime)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InBetweenShiftTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.RulesId">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
