@model IEnumerable<HospitalSchedule.Models.Rules>

@{
    ViewData["Title"] = "Index";
}

<h2>Rules List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeeklyHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NurseAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InBetweenShiftTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeeklyHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NurseAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InBetweenShiftTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RulesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RulesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RulesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
