@model RulesView

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
        <tr>
            @using (Html.BeginForm())
            {
                <p>
                    Find by name: <input type="text" name="Search" placeholder="Insert the rule name" />
                    <input type="submit" value="Search" />
                </p>
            }

            @if (TempData["Success"] != null)
            {
                <p>Created successfully</p>
            }
            <th>
                RulesName
            </th>

            <th>
                WeeklyHours
            </th>

            <th>
                NurseAge
            </th>

            <th>
                ChildAge
            </th>

            <th>
                InBetweenShiftTime
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rules)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WeeklyHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NurseAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InBetweenShiftTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RulesId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RulesId" class="btn btn-secondary"> Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RulesId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div page-model="@Model.PagingInfo" page-action="" class="btn-group pull-right">

</div>