@model IEnumerable<HospitalSchedule.Models.Rules>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-default" >Create New</a>
</p>
<table class="table">
    <thead>

        @if (TempData["Success"] != null)
        {
            <script type="text/javascript">
                alert('@TempData["Success"]');
            </script>
        }

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeeklyHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NurseAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InBetweenShiftTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeeklyHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NurseAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InBetweenShiftTime)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.RulesId">Edit</a>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.RulesId">Details</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.RulesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
