@model HospitalSchedule.Models.Exchange_Request

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exchange_Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Schedule_Exchange1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schedule_Exchange1.Schedule_Exchange1Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Schedule_Exchange2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schedule_Exchange2.Schedule_Exchange2Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequestState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequestState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_RequestState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_RequestState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_Exchange_Request)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_Exchange_Request)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Exchange_RequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
