@model IEnumerable<HospitalSchedule.Models.Exchange_Request>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule_Exchange1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule_Exchange2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_RequestState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Exchange_Request)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule_Exchange1.Schedule_Exchange1Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule_Exchange2.Schedule_Exchange2Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_RequestState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Exchange_Request)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Exchange_RequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Exchange_RequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Exchange_RequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
