@model OperationBlock_ShiftView

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @using (Html.BeginForm())
            {
                <p>
                    Find by name: <input type="text" name="Search" placeholder="Insert shift name" />
                    <input type="submit" value="Search" />
                </p>
            }

            @if (TempData["Success"] != null)
            {
                <p>Created successfully</p>
            }

            <th>
                BlockName
            </th>

            <th>
                Shift
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OperationBlock_Shifts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationBlock.BlockName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OperationBlock_ShiftsId" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OperationBlock_ShiftsId" class="btn btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OperationBlock_ShiftsId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div page-model="@Model.PagingInfo" page-action="" class="btn-group pull-right">

</div>