@model HospitalSchedule.Models.OperationBlock

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OperationBlock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlockName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfShift)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfShift)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schedule.ScheduleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OperationBlockID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
