@model HospitalSchedule.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NurseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NurseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationBlockName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationBlockName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShiftType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationBlockFK)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationBlockFK)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ScheduleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
