@model IEnumerable<HospitalSchedule.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New Schedule</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NurseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationBlockName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NurseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationBlockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
