@model SchedulesView

@{
    ViewData["Title"] = "Schedule";
}

<h2>Schedule</h2>

<p>
    <a asp-action="Create" class="btn btn-default" >Create New</a>
</p>
<table class="table">
    <thead>

        @if (TempData["Success"] != null)
        {
            <script type="text/javascript">
                alert('@TempData["Success"]');
            </script>
        }

        <tr>
            @using (Html.BeginForm())
            {
            <p>
                Find by nurse's name: <input type="text" name="Search" placeholder="" />
                <input type="submit" value="Search" />
            </p>
            }

            @if (TempData["Success"] != null)
            {
                <p>Created successfully</p>
            }

            <th>
                Date
            </th>
            <th>
                Nurses
            </th>
            <th>
                Block Name
            </th>
            <th>
                Shift Name
            </th>
            <th></th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model.Schedules)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nurse.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationBlock_Shifts.OperationBlock.BlockName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationBlock_Shifts.Shift.ShiftName)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.ScheduleId">Edit</a>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.ScheduleId">Details</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ScheduleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div page-model="@Model.PagingInfo" page-action="" class="btn-group pull-right">

</div>